*.log
user_data
*.exe
build
.idea
*.spec
__pycache__
daojian2_py/dao2/demo/models/zh_sim_g2.pth
daojian2_py/dao2/demo/models/craft_mlt_25k.pth
daojian2_py/dao2/demo/models/ch_sim.pth
daojian2_py/dao2/demo/processed_image.bmp
daojian2_py/dao2/paddle_ocr_models/cls/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/cls/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/cls/inference.pdmodel
daojian2_py/dao2/paddle_ocr_models/cls/ch_ppocr_mobile_v2.0_cls_infer/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/cls/ch_ppocr_mobile_v2.0_cls_infer/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/cls/ch_ppocr_mobile_v2.0_cls_infer/inference.pdmodel
daojian2_py/dao2/paddle_ocr_models/det/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/det/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/det/inference.pdmodel
daojian2_py/dao2/paddle_ocr_models/det/ch/ch_PP-OCRv4_det_infer/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/det/ch/ch_PP-OCRv4_det_infer/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/det/ch/ch_PP-OCRv4_det_infer/inference.pdmodel
daojian2_py/dao2/paddle_ocr_models/rec/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/rec/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/rec/inference.pdmodel
daojian2_py/dao2/paddle_ocr_models/rec/ch/ch_PP-OCRv4_rec_infer/inference.pdiparams
daojian2_py/dao2/paddle_ocr_models/rec/ch/ch_PP-OCRv4_rec_infer/inference.pdiparams.info
daojian2_py/dao2/paddle_ocr_models/rec/ch/ch_PP-OCRv4_rec_infer/inference.pdmodel
